@media (max-width: 1280px){
  .header {
    height: 250px;
  }
  .logo{
    width: 350px;
  }

  .hero {
    width: 100%;
    height: 350px;
    overflow: hidden;
  }

   .intro{
    height: 300px;
   }
  .product-card{
      width: 200px;
      height: 260px;
      overflow: hidden;
  }

  .product-card:hover{
    height: 310px;
   
    z-index: 3;
  }

  .category-image{
      width: 550px;
      height: 550px;
  }
  .product-grid{
      width: 550px;
      height: 550px;  
      grid-template-columns: repeat(2, 250px);
      grid-template-rows: repeat(2, 250px);
      gap:20px
  }
  .product-image{
    width: auto;
    height: 170px;
  }

  .add-to-cart{
    height: 50px;
  
    margin-top: 0px;
  }

  .catalog-grid{
  grid-template-columns: repeat(4, 210px);
  grid-template-rows: repeat(8, 260px);
  }

  .carouselCustom{
    height: 400px;
  }
}


@media (max-width: 768px) {
    .header,
    .main-nav,
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .user-actions {
      margin-top: 20px;
    }
  
    .secondary-nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .secondary-nav li {
      margin-bottom: 10px;
    }
  
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
  
 
  