@media (max-width: 1280px){
  .logo{
    width: 800px;
  }
  .product-card{
      width: 200px;
      height: 250px;
      overflow: hidden;
  }

  .product-card:hover{
    height: 290px;
  }

  .category-image{
      width: 500px;
      height: 500px;
  }
  .product-grid{
      width: 500px;
      height: 500px;  
  }
  .product-image{
    width: 170px;
    height: auto;
  }
  .catalog-grid{
  grid-template-columns: repeat(4, auto);
  }
}


@media (max-width: 768px) {
    .header,
    .main-nav,
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .user-actions {
      margin-top: 20px;
    }
  
    .secondary-nav ul {
      flex-direction: column;
      align-items: center;
    }
  
    .secondary-nav li {
      margin-bottom: 10px;
    }
  
    .product-grid {
      grid-template-columns: 1fr;
    }
  }
  
 
  